<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CMPE 275 - User Dashboard</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">

    <!-- Website CSS style -->
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="js/auth.js"></script>
    <script type="text/javascript" src="js/ajaxUtil.js"></script>


</head>
<body ng-app="myApp" ng-controller="editJobCtrl">
<div class="container-full" style="width: 100%; ">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-title text-center">
                <h1 class="title"> Edit Job Content </h1>
            </div>
         
        <div class="container" >
          <form ng-submit="submitJobData()" name="postJobForm">
            	<label for="name" class="cols-sm-2 control-label">Job Title</label>
				<input type="text" class="form-control" ng-model=job.jobtitle  />
				<br></br>
				<label for="desc" class="cols-sm-2 control-label">Description</label>
				<input type="text" class="form-control" name="desc" ng-model=job.description  placeholder="Enter desc"/>
				<br></br>
				<label for="location" class="cols-sm-2 control-label">Location</label>
				<input type="text" class="form-control" ng-model=job.location  placeholder="Enter the city"/>
				<br></br>
				<label for="salary" class="cols-sm-2 control-label">Salary</label>
				<input type="text" class="form-control" ng-model=job.salary  placeholder="Enter salary"/>
				<br></br>
				<label for="skills" class="cols-sm-2 control-label">Skills Required</label>
				<input type="text" class="form-control" ng-model=job.skill  placeholder="skills required"/>
				<br></br>
				<input type="submit" id="submit" class="btn btn-primary btn-lg login-button" value="Update" ng-click="updateContent(job)"/>
                <button type="reset" id = "Reset" class="btn btn-primary btn-lg  login-button">Reset</button>
            </form>
        </div>
        </div>
        </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/angController.js"></script>
</body>
</html>