<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">

    <!-- Website CSS style -->
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

     <!--JS files-->
    <script type="text/javascript" src="js/auth.js"></script>
    <script type="text/javascript" src="js/ajaxUtil.js"></script>

    <title>Admin</title>
</head>
<body ng-app="myApp" ng-controller="jobSeekerSignUpCtrl">
<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center"  style="margin: auto 0">
                <h1 class="title">Job Seeker Sign up Page</h1>
                <hr/>
            </div>
        </div>
        <div class="main-login main-center">
            <form ng-submit="submitData()" name="signUpForm">
            	<div class="error" ng-message="serverErrors" data-ng-show="signUpForm.$submitted" data-ng-cloak>
            		<p data-ng-message="emailexists">{{errorMessage}}</p>
            		<br></br>
        		</div>
            	<label for="name" class="cols-sm-2 control-label">Jobseeker Name</label>
				<input type="text" class="form-control" ng-model="user.name"  placeholder="Enter your Name"/>
				<br></br>
				<label for="email" class="cols-sm-2 control-label">Email address</label>
				<input type="email" class="form-control" name="emailid" ng-model="user.email"  placeholder="Enter your Email"/>
				<br></br>
				<label for="password" class="cols-sm-2 control-label">Password</label>
				<input type="password" class="form-control" ng-model="user.password"  placeholder="Enter your Password"/>
				<br></br>
				<input type="submit" id="submit" class="btn btn-primary btn-lg login-button" value="Register" />
                <button type="reset" id = "Reset" class="btn btn-primary btn-lg  login-button">Reset</button>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/angController.js"></script>
</body>
</html>