<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CMPE 275 - User Dashboard</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">

    <!-- Website CSS style -->
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="js/auth.js"></script>
    <script type="text/javascript" src="js/ajaxUtil.js"></script>

<style>
table {
    width: 100%;
}

th {
    padding: 8px;
    text-align: center;
    border: 1px solid black;
}

td {
    padding: 8px;
    text-align: center;
    border: 1px solid black;
}

tr:hover{background-color:#f5f5f5}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

</style>


</head>
<body ng-app="myApp" ng-controller="viewJobCtrl">
<div class="container-full" style="width: 100%; ">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-title text-center">
                <h1 class="title"> Position Details </h1>
            </div>
         <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="EmployerDashboard.html" target="_self">Browse Posted Jobs </a>
                <a href="PostJobs.html" target="_self">Post New Positions </a>
                <a href="editEmployerProfile.html" target="_self">Edit Profile</a>
                <a href="#" onclick="logout(event)">Logout</a>
         </div>
         <div id="main">
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        </div>
        <div class="container" >
          <div><b>Position Title:</b> {{ job.jobtitle }}</div>
          <div><b>Description:</b> {{ job.description }}</div>
          <div><b>Location:</b> {{ job.location }}</div>
          <div><b>Salary:</b> {{ job.salary }}</div>
          <div><b>Required Skill:</b> {{ job.skill }}</div>
          <div><b>Status:</b> {{ job.status }}</div>
          <br></br>
          <form method="post" name="nameForm" style="display:inline;">
			<input type="submit" class="btn btn-primary btn-lg login-button" value="Update Content" ng-click="updatePositionContent()">
			<input type="submit" class="btn btn-primary btn-lg login-button" value="Cancel" ng-disabled="disableCancel" ng-click="cancelJob(job)">
			<input type="submit" class="btn btn-primary btn-lg login-button" value="Mark Filled" ng-disabled="disableFilled" ng-click="fillJob(job)">
		  </form>
        </div>
        
        <div class="container">
        	<div class="panel-title text-center">
                <h1 class="title"> Applications </h1>
            </div>
            <br></br>
            <table border="1">
            <thead>
              	<tr>
	     			<th>Email Id</th>
	     			<th>First Name</th>
	     			<th>Last Name</th>
	     			<th>Application Status</th>
	     			<th>Offer Job</th>
	     			<th>Reject Applicant</th>
	     			<th>View Profile</th>
 				 </tr>
            </thead>
            <tr ng-repeat="applicant in applicants">
            	<td>{{applicant.emailid}}</td>
            	<td>{{applicant.firstname}}</td>
            	<td>{{applicant.lastname}}</td>
            	<td>{{applicant.status}}</td>
            	<td><input type="submit" class="button button1" value="Offer Job" ng-click="offerJob(job,applicant.emailid)"></td>
            	<td><input type="submit" class="button button1" value="Reject" ng-click="rejectApplication(job,applicant.emailid)"></td>
            	<td><input type="submit" class="button button1" value="View Profile" ng-click="viewApplicant(job,applicant.emailid)"></td>
            </tr>
            </table>
        </div>
        </div>
        </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/angController.js"></script>
</body>
</html>